# Configuration Flask
SECRET_KEY=ta-clé-secrète-ici
DEBUG=True

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS="chemin/vers/cle-json.json"
BUCKET_NAME="nom-du-bucket-gcs"
PROJECT_ID="ton-projet-google-cloud"

# Paramètres spécifiques
REMINDER_DAYS_BEFORE=90  # Délai pour les rappels (en jours)
CALENDAR_TIMEZONE="Europe/Paris"
